<div class="main animated fadeIn slow">
    <div class="row no-gutters animated fadeIn slow">
        <div class="col-sm-6 text-center mt-3">
            <a class="brand"
                [routerLink]="[ '/home' ]">
                <img src="../../../assets/germanizer-logo.png"
                    class="img-logo"
                    alt="Germanizer Logo">
            </a>
        </div>
        <div class="col-sm-6 text-center mt-3">
            <nav class="nav fs-m t-dark justify-content-center">
                <a class="nav-link pl-3 pr-3 hoverable b-light fs-m no-outline border-dark border-round handwritten font-weight-bold"
                    [routerLink]="[ '/games' ]"
                    routerLinkActive="link-active">Games</a>
                <a class="nav-link pl-3 pr-3 hoverable b-light fs-m no-outline border-dark border-round handwritten font-weight-bold"
                    (click)="openContact()">Contact</a>
            </nav>
        </div>
    </div>
    <div *ngIf="wip"
        class="row no-gutters justify-content-center mt-4">
        <div class="alert border-round shadow b-light font-weight-bold t-dark border-dark handwritten fs-m mt-4"
            role="alert">
            Maintenance in process, we will come back soon!
        </div>
    </div>
    <div *ngIf="!wip">
        <router-outlet></router-outlet>
    </div>
    <!-- <app-footer></app-footer> -->
</div>