<div class="row no-gutters hero-margin justify-content-center handwritten animated fadeIn slow">
    <div class="col-md-6">
        <h1 class="font-weight-bold text-center">It's about learning!</h1>
        <p class="text-center fs-m">
            Germanizer is a free web application to practice German. <strong>Conjugate verbs</strong> and <strong>learn nouns with their articles</strong>. Germanize yourself!</p>
        <div class="text-center">
            <button mat-stroked-button
                type="button"
                (click)="goTo('/games')"
                class="hoverable b-light fs-m no-outline border-dark border-round pt-1 pr-3 pl-3 handwritten font-weight-bold">
                Go to games!
            </button>
        </div>
    </div>
</div>