<div class="row no-gutters hero-margin t-dark handwritten justify-content-center handwritten animated fadeIn slow">
    <div class="col-md-6 p-4">
        <app-exercise-card [title]="'Verbs'"
            [description]="verbsDescription"
            [exerciseURL]="'/verbs'"
            [hasInfo]="true"
            [game]="'verbs'"></app-exercise-card>
    </div>
    <div class="col-md-6 p-4">
        <app-exercise-card [title]="'Der Die Das'"
            [description]="nounsDescription"
            [exerciseURL]="'/nouns/practice'"></app-exercise-card>
    </div>
</div>